@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

:root {
  --color-heading: #25d1f7;
  --color-heading-shadow: #0379c3;
}

h1 {
  font-family: "Cherry Bomb One", sans-serif;
  font-size: 15vw;
  color: var(--color-heading);
  text-shadow: 0 1px 0 var(--color-heading-shadow),
    0 2px 0 var(--color-heading-shadow),
    0 3px 0 var(--color-heading-shadow),
    0 4px 0 var(--color-heading-shadow),
    0 5px 0 var(--color-heading-shadow),
    0 6px 0 var(--color-heading-shadow),
    0 7px 0 var(--color-heading-shadow),
    0 8px 0 var(--color-heading-shadow),
    0 0 5px rgba(10, 0, 0, .05),
    0 1px 3px rgba(10, 0, 0, .2),
    0 3px 5px rgba(10, 0, 0, .2),
    0 5px 10px rgba(10, 0, 0, .2),
    0 10px 10px rgba(10, 0, 0, .2),
    0 20px 20px rgba(10, 0, 0, .3);
}